{% extends 'base.html' %}



{% block body%}


<div style="margin:30px ;">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis pariatur voluptate ad minima incidunt. Quia,
    alias molestiae incidunt eaque, asperiores perferendis modi dolor perspiciatis dolorum reiciendis debitis quisquam.
    Consectetur aperiam sunt doloremque soluta necessitatibus tempore dolore libero assumenda consequatur odio cumque
    hic harum quam eius, voluptatum veniam culpa eaque accusantium iste ut earum inventore minima! Quis alias dolor
    quasi et nostrum quas repudiandae quia commodi. Et velit eveniet expedita iste eligendi ad dignissimos tenetur
    debitis esse, hic tempora dolorum quibusdam exercitationem accusantium nulla quas iure. Nisi amet dicta ipsum quos
    quia. Quos suscipit laborum quae numquam error consectetur dolorum placeat. Adipisci ipsum voluptas, vitae illo amet
    et sequi unde cumque aperiam velit aut earum, recusandae deserunt corporis, hic eum pariatur nam fugit laudantium
    quod excepturi assumenda alias minus distinctio. Magnam odio libero voluptates dolorum maxime sint, voluptas,
    necessitatibus optio asperiores laboriosam quisquam tenetur totam! Debitis iusto dolor error fugiat aspernatur
    consectetur dignissimos distinctio quos odit atque ad incidunt sed alias quaerat reiciendis corrupti, laborum cum,
    hic doloribus accusantium doloremque vel ipsum? Veritatis est illo, quo a, magni voluptatibus fuga accusamus,
    voluptas dolorum rem natus at reiciendis perspiciatis fugit ex. Dolore, ex. Sint itaque facilis voluptatem beatae!
    Officia non nesciunt fugit iure recusandae, quia facere officiis a qui perspiciatis sunt expedita asperiores illo
    aperiam impedit reprehenderit incidunt nihil ipsa. Quisquam aperiam excepturi unde sunt iusto sapiente ea, ratione
    suscipit labore quae saepe exercitationem quasi nobis culpa repellat, facere nam pariatur error mollitia! Aliquam
    molestiae adipisci cumque enim neque? Illum ea pariatur, veniam tempore quisquam perferendis expedita eveniet, at
    alias odio deleniti explicabo. Sint corporis ut doloremque, eum dolorem illum facere corrupti porro et, quae nostrum
    possimus inventore saepe amet atque laboriosam deserunt, aut vero. Vitae nulla quas at quae possimus, facere
    dignissimos quis voluptates atque. Non, aliquid! Error cupiditate eligendi maxime obcaecati, dolor natus illo quae
    iste. Voluptatum sit facere repudiandae beatae voluptates nostrum doloremque. Vel consequatur recusandae explicabo
    soluta tempore culpa minus est, error, eius doloribus totam. Illo dolorem corporis laboriosam repellendus iusto
    doloribus mollitia totam harum nemo? Eos deserunt at incidunt dignissimos aspernatur quidem voluptatum et deleniti
    quos, error quisquam cumque rem velit corrupti, quae labore nihil, provident perspiciatis corporis earum quod! Nihil
    amet ea natus nulla iste sit maxime nemo, nobis optio repellat odit alias nostrum id. Iste nihil minus, incidunt
    velit soluta aliquid temporibus quibusdam explicabo maiores quasi assumenda quidem tempora debitis ipsam fugiat,
    fugit impedit dicta natus, reprehenderit molestiae aut corporis placeat possimus suscipit? Totam earum, fugit minima
    ut, ipsa consequatur odit dolorum dignissimos, doloremque dolorem aut aspernatur nemo laborum voluptatum suscipit
    modi qui ratione sint quasi expedita soluta eos impedit veritatis nostrum! Delectus, vel pariatur incidunt
    consequatur cupiditate provident reiciendis a dolores neque omnis aspernatur iure at minima nam quos ratione! Autem
    nesciunt perspiciatis quam, cupiditate omnis recusandae nostrum temporibus incidunt quis sed adipisci alias eum sit
    facere obcaecati voluptatem voluptate pariatur. Maiores totam eaque perferendis cumque facilis. Fuga suscipit
    nesciunt beatae, maxime totam consequuntur voluptatibus amet exercitationem! Neque quibusdam consectetur molestias
    dolor at ipsam.
</div>

{% endblock body %}